page-login {

    .login-box {
        background: rgb(255, 255, 255);
        padding: 10px 10px 10px 10px;
        margin-top: 10px;
      }

      ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 2.0em;
        margin-bottom: 5px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
        align-content: center;
    }
    .button.customBtn{
      width:150px;
      align-items: center;
  }

}
