<!--
  Generated template for the PersonalDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <img src="assets/imgs/USP_logo.jpg" width="40px" style="display:inline-block" height="80px" width="150px"/>
  </ion-navbar>  
  <button class="button customBtn"  ion-button (click)="HomePage()">
    Home
  </button>
  <button class="button customBtn"  ion-button (click)="CoursesPage()">
    Program Audit
  </button>
  <button class="button customBtn"  ion-button (click)="EnrollNowPage()"> 
    Enroll Now
  </button>
  <button class="button customBtn" ion-button (click)="hideFilters()">
    My Details
  </button>
  <button class="button customBtn"  ion-button (click)="MyProgramPage()">
    My Program
  </button>
  <button class="button customBtn"  ion-button (click)="ChangeProgramPage()">
    Change Program
  </button> 
  <button class="button customBtn"  ion-button (click)="RecheckPage()">
    Grade Recheck
  </button>
  <button class="button customBtn"  ion-button (click)="GraduationApplicationPage()">
    Graduation
  </button>
  <button class="button customBtn"  ion-button (click)="LoginPage()">
    Logout
  </button>

</ion-header>
  
  <ion-content padding #content4>
      <div class="row header" *ngFor = "let item of items">
        <div class="col">Student ID</div>
        <div class="col">{{item.username}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
        <div class="col">Name :</div>
        <div class="col">{{item.name}}</div>
    </div>
    <div class="row header" *ngFor = "let item of items">
        <div class="col">Email Address :</div>
        <div class="col">{{item.email}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Role :</div>
          <div class="col">{{item.role}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">DOB :</div>
          <div class="col">{{item.DOB}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Gender :</div>
          <div class="col">{{item.gender}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Citizenship :</div>
          <div class="col">{{item.citizenship}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Campus :</div>
          <div class="col">{{item.campus}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Program Enrolled In </div>
          <div class="col">{{item.program_name}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Year You Started Your Program :</div>
          <div class="col">{{item.year_joined}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Major Type :</div>
          <div class="col">{{item.major_type}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Major One :</div>
          <div class="col">{{item.major_one}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Major Two :</div>
          <div class="col">{{item.major_two}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Minor One :</div>
          <div class="col">{{item.minor_one}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Minor Two :</div>
          <div class="col">{{item.minor_two}}</div>
      </div>
      <div class="row header" *ngFor = "let item of items">
          <div class="col">Your Account Status :</div>
          <div class="col">{{item.status}}</div>
      </div>
</ion-content>



