<!--
  Generated template for the CoursesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <img src="assets/imgs/USP_logo.jpg" width="40px" style="display:inline-block" height="80px" width="150px"/>
  </ion-navbar>  
  <button class="button customBtn"  ion-button (click)="HomePage()">
    Home
  </button>
  <button class="button customBtn"  ion-button (click)="hideFilters()">
    Program Audit
  </button>
  <button class="button customBtn"  ion-button (click)="EnrollNowPage()"> 
    Enroll Now
  </button>
  <button class="button customBtn"  ion-button (click)="PersonalDetailsPage()">
    My Details
  </button>
  
  <button class="button customBtn"  ion-button (click)="MyProgramPage()">
    My Program
  </button>
  <button class="button customBtn"  ion-button (click)="ChangeProgramPage()">
    Change Program
  </button> 
  <button class="button customBtn"  ion-button (click)="RecheckPage()">
    Grade Recheck
  </button>
  <button class="button customBtn"  ion-button (click)="GraduationApplicationPage()">
    Graduation
  </button>
  <button class="button customBtn"  ion-button (click)="LoginPage()">
    Logout
  </button>

</ion-header>
<!--Pulls student specific course details and displays it-->
<ion-content padding #content4>

  <h3> Course Audit </h3>
  <!-- <div >
 <ion-item *ngFor = "let item of items">
  <h5>Student ID :{{item.username}} </h5>
</ion-item>
</div> -->
<div *ngFor = "let item of items">
  <div class="row header" >
    <div class="col col-1">Course code:</div>
    <div class="col">{{item.course}} </div>
  </div>
  <div class="row header" >
    <div class="col">Course Name:</div>
    <div class="col">{{item.name}}</div>
</div>
<div class="row header" >
    <div class="col">Course Status:</div> 
    <div class="col">{{item.status}}</div>
  </div>
  <div class="row header" >
      <div class="col">Course grade:</div>
      <div class="col">{{item.grade}} |  <a href="#" class="card-link" (click)="Recheck_grade(item.course,item.grade)">Recheck</a></div>
    </div>
</div>
</ion-content>
